
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
    
:root {
  --gradient-gray: linear-gradient(to right, #131314, #3A3A3A, #131314);
  --gradient-purple: linear-gradient(
    to right,
    rgba(171, 6, 213, 0.7),
    rgba(141, 6, 213, 0.3),
    rgba(6, 6, 6, 0.3)
  );  --gradient-purple2: linear-gradient(to right, #060606 1%,#AB06D5 100%);

  }
  * {
    box-sizing: border-box; 
}
img {
  margin: 0;
  padding: 0; 
  display: block; 
}
/* styles/globals.css */
body {
  background-image: url('/Assets/vector.png');
  /* background-size: cover; Ensures the background image covers the entire area */
  /* background-position: center; Centers background image */
  opacity: 1; 
}


  
  .gradient-purple {
    background: var(--gradient-purple);
  }
  
  .gradient-purple2 {
    background: var(--gradient-purple2);
  }

  .gradient-gray {
    background: var(--gradient-gray);
  }

  body{
    background-color: black;
  }

  